

table.config_table td.key {
    padding: 0px 0px 0px 10px;    
}

table.config_table td.value {
    padding: 0px;
}

table.config_table td.value input,
table.config_table td.value select {
    margin: 0px;
    width: 100%;
}

table.config_table .noUi-target  {
    margin-left: 20px;
    width: 400px;
}

table.config_table td.value .noUi-target + input {
    width: 140px;
}

table.config_table td {
    vertical-align: middle;
}

table.config_table td label {
    margin-bottom: 0px;
    font-weight: normal;
}