@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(OpenSans-CondensedLight.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/jIXlqT1WKafUSwj6s9AzV6XnXbwdDC8wAz6IIzmCDUP3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}

html, body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0px;
    line-height: 25px;
    color: #3F3F3F;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background: #464646 linear-gradient(#464646, #1F1F1F);
}

b {
    color: #6F6F6F;
}

#header {
    position: relative;
    padding-left: 20px;
    
    background: #686868 linear-gradient(#686868, #363636);
    /*border-bottom: 1px solid #5E5E5E;*/
    box-shadow: inset 0px 0px 100px 0px #1A1A1A;
}

#header h1 {
    line-height: 40px;
    font-size: 28px;
    font-weight: 700;
    color: #F0F0F0;
    margin: 0px;
    padding-top: 10px;
    text-shadow: 0px 0px 3px #000;
}

h2 {
    font-size: 24px;
}

#content > h2:first-child {
    margin-top: 0px;
}

#header ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 30px;
}

#header ul li:first-child a {
    border-top-left-radius: 5px;
    border-left: 1px solid #C9C9C9;
}

#header ul li:last-child a {
    border-top-right-radius: 5px;
    border-right: 1px solid #C9C9C9;
}

#header ul li {
    margin: 0px;
    font-size: 16px;
    float: left;
    line-height: 30px;
    font-weight: normal;
}

#header ul li i{
    padding-left: 5px;
    padding-right: 10px;
}
#header ul li a {
    display: inline-block;
    color: #FFF;
    padding-right: 15px;
    background: #943030 linear-gradient(#D65151, #943030);
    border-top: 1px solid #C9C9C9;
    border-left: 1px solid #C9C9C9;
}

#header ul li a:hover, #header ul li a.hover {
    background: #6B1A1A linear-gradient(#A83B3B, #6B1A1A);
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
}

#page {
    min-height: 100%;
    background: #F7F7F7 linear-gradient(#F7F7F7, #F1F1F1);
    border-left: 1px solid #5E5E5E;
    border-right: 1px solid #5E5E5E;
    box-shadow: inset 0px 0px 100px 0px #777;
}

#page > div#wrapper {
    padding: 10px;
}

#header_border {
    border-top: 5px solid #943030    
}

section#content {
    padding: 20px;
}

table {
    border-collapse: separate;
}

.modal , .popup_overlay{
    background: rgba(23, 27, 2, 0.44) linear-gradient(rgba(12, 17, 1, 0.15), rgba(0, 0, 0, 0.32));
    overflow-y: auto;
}
.simpleform .form-element {
    position: relative;
    margin: 10px;
}

input,
select,
textarea {
    padding: 5px 10px;
    border: 1px solid #FFF;
    background-color: #F7F7F7;
    border-radius: 4px;
    box-shadow: inset 0px 0px 16px 0px #F1F1F1, 0px 0px 3px 0px #B3B3B3;
}

.simpleform .form-element input { 
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 200px;
}

.simpleform .form-element label {
    line-height: 35px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.clickable {
    cursor: pointer;
}

.modal-content {
    box-shadow: 0 0px 52px 0px #740000;
}
.form-element .unit {
    fliat: right;
}

table:not(.layout_table) {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table:not(.layout_table) th:first-child {
    border-top-left-radius: 5px;
    border-left: 1px solid #C5C5C5;
}
table:not(.layout_table) th:last-child {
    border-top-right-radius: 5px;
    border-right: 1px solid #C5C5C5;
}

table:not(.layout_table) th {
    border-left: 1px solid #616161;
    padding: 5px;
    font-weight: normal;
    color: #FFF;
    background: #646464 linear-gradient(#646464, #222);
}


table:not(.layout_table) td {
    padding: 5px;
    background: #F5F5F5 linear-gradient(#F5F5F5, #E6E6E6);
    border: 1px solid #C5C5C5;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #C5C5C5;
}

table:not(.layout_table) th:last-child, 
table:not(.layout_table) td:last-child {
    border-right: 1px solid #C5C5C5;
}

table:not(.layout_table) > thead > tr > th > i {
    margin-right: 5px;
}

table.layout_table {
    width: 100%;
}
table.layout_table td {
    padding-right: 10px;
    padding-left: 10px;
}

.modal .simpleform .form-element input, .modal .simpleform .form-element select {
    position: initial;
    margin-left: 20px;
}

input.error {
    border: 1px solid #EB2B2B;
    color: #8B0000;
    font-weight: bold;
    background-color: #E7B3B3;
    box-shadow: none;
}
.editable-click, 
a.editable-click, 
a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
}

.editable-click, 
a.editable-click {
   color: #333;
}
.clickable:hover .editable-click,
.clickable:hover a.editable-click {
    color: #fff;
    
}
.input-sm {
    font-size: 18px;
}

.editable-popup .input-sm {
    min-width: 300px;
}

td.nopadding {
    padding: 0px;
}

table:not(.layout_table) td.clickable,
.clickable {
    background: #F5F5F5 linear-gradient(#E6E6E6, #CCC);
}

table:not(.layout_table) td.clickable:hover,
.clickable:hover {
    background: #F5F5F5 linear-gradient(#D67777, #AF4040);
    color: #FFF;
}

a.clickable {
    display: block;
    padding: 5px;
}

.option-action {
    padding: 2px;
    color: #5C5959;
    border-radius: 5px;
    border: 1px solid #A3A3A3;
    background: #FFF linear-gradient(#FDFDFD, #DBDBDB);
}

.option-action:hover, .option-action.hover {
    color: #5C5959;
    border-color: #9E9E9E;
    background: #FFF linear-gradient(#E9E9E9, #C2C2C2);
}


.donate {
    font-size: 14px;
    color: #DADADA;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 5px;
    
}

.donate b {
    color: #E9E9E9;
}

#save_cg_miner_config_container {
    margin: 0px auto;
    width: 300px;
    text-align: center;
    padding: 5px;
    background: #FFF linear-gradient(#E9E9E9, #C7C7C7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #C3C1C1;
    border-top: 0px;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-heading .panel-title {
    font-weight: bold;
}

.panel-default  > .panel-heading {
    color: #797979;
    background-color: #F5F5F5;
}

.panel-group .panel {
    border-radius: 0px;
    border-bottom: 0px;
}

.simpleform.boxform {
    border: 1px solid #C7C7C7;
    box-shadow: inset 0px 0px 28px 14px #F3F3F3;
    color: #777;
    background-color: #FFF;
}


.simpleform.boxform input {
    padding: 4px 3px;
    border: 1px solid rgba(214, 214, 214, 0);
    border-bottom-color: #A50000;
    background: transparent;
    border-radius: 4px;
    color: #5A5A5A;
    box-shadow: none;
    width: 500px;
    outline:none;
    transition: 250ms all;
    
}
.simpleform.boxform input[type="checkbox"], table.config_table td.value input[type="checkbox"] {
    width: 16px;
}

.simpleform.boxform input:focus {
    outline: none;
    background: #F2F8FF;
    color: #05284E;
    border: 1px solid #D6D6D6;
    border-bottom-color: #A50000;
}


.slider input[type=checkbox] {
	visibility: hidden;
}

/* SLIDE THREE */
.slider {
        display: inline-block;
	width: 80px;
	height: 26px;
	background: #EEE;
        margin: 5px 5px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slider:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slider:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slider label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #9B9B9B 0%, #585858 40%, #757575 100%);
	background: -moz-linear-gradient(top, #9B9B9B 0%, #585858 40%, #757575 100%);
	background: -o-linear-gradient(top, #9B9B9B 0%, #585858 40%, #757575 100%);
	background: -ms-linear-gradient(top, #9B9B9B 0%, #585858 40%, #757575 100%);
	background: linear-gradient(top, #9B9B9B 0%, #585858 40%, #757575 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9B9B9B', endColorstr='#757575',GradientType=0 );
}

.slider input[type=checkbox]:checked + label {
	left: 43px;
}


.tooltip {
    font-size: 14px;
}

.tooltip-inner {
max-width: 600px;
padding: 10px 10px;
color: #000;
text-align: center;
text-decoration: none;
border: 1px solid #000;
box-shadow: 0px 0px 10px 0px #000;
background: #FFF;
border-radius: 4px;
}

.noUi-handle {
    background: #5E5E5E;
}

.tab_links { 
    margin: 0;
    padding: 0; 
    list-style-type: none; 
    position: relative;
    z-index: 5;
}

.tab_links li:first-child {
    border-top-left-radius: 5px;
}
.tab_links li:last-child {
    border-top-right-radius: 5px;
}

.tab_links li { 
    
    cursor: pointer; 
    float: left; 
    padding: 5px 10px;
    background: #EFEFEF; 
    position: relative;
}
.tab_links li.selected { 
    background: #fff; 
    top: 1px;
    border: 1px solid #DBDBDB;
    border-bottom: 0px;
}
div[data-tab] { 
    clear: both;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #DBDBDB;
}
.tabs .js { 
    display: none;
}
.tabs .js:first-child { 
    display: block; 
}

.nowrap {
    white-space: nowrap;
}

#global_hashrate {
    margin-left: 30px;
}

/* ################## PAGER        #########################################  */
div.pager {
        margin: 10px 0px;
	text-align: center;
}

div.pager > span.pager_pagelinks > * {
	padding: 5px;
}
div.pager > span.pager_pagelinks > a.page_link_selected {
	color: black !important;
	text-decoration: none;
}

.alphapager_pages {
	margin: 0px auto;
	text-align: center;
}

.alphapager_pages a {
	font-weight: normal;
	font-size: 13px;
	padding:2px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin:2px;
	border: 1px solid #c5c5c5;
	background-color: #ededed;
}

.alphapager_pages a:hover {
   color: #000000;
}

.alphapager_pages a.page_link_selected {
   color: #FFFFFF;
   background-color: #075DC2;
   font-weight: bold;
}